input[type="text"], input[type="password"]
  padding: 0.75em
  display: block
  border-radius: 6px
  border-width: 1px
  border-color: gray
  font-size: 1em

button
  font-family: sans-serif
  font-size: 1em
  padding: 0.75em
  border-radius: 12px
  border-color: cadetblue
  border-width: 3px
  background-color: white

