.row
    display: flex

    .col-4
        width: 33%

    .col-3
        width: 25%

    .col-6
        width: 50%
    *
        margin: 5px 0

    .col-gap-4
        margin-left: 33%

    .col-gap-3
        margin-left: 37.5%

    .col-gap-8
        margin-left: 20%

    .col-gap-9
        margin-left: 2%


.fill
    width: 100%

